.t {
  width: 300px;
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
  border: 3px solid black;
}

.thead {
  border-collapse: separate;
}

.thead > tr > td {
  border: 3px solid black;
  font-weight: bold;
}

.tr > td:last-child {
  width: 60px;
  text-align: center;
}

.tr td {
  padding: 5px 10px;
  border: 1px solid black;
}
